__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.venv/
build/
dist/
*.so

blender/
checkpoints/
data/
results/
temp_scripts/
baselines/_upstream/
data_processing/_upstream/
outputs/
third_party/dinov3
trellis2_x2/**/third_party/eigen/

*.blend
*.blend1
*.log
